<h1>New Happy Hour?</h1>

<form action="/happyhours/new" method="POST">
	<input type="text" name="name" value="Name">
	<input type="text" name="location" value="Location">
	<input type="text" name="capacity" value="Capacity">
	<button type="submit">Submit</button>
</form>