<h1>Who Are You?</h1>

<form action="/attendees/new" method="POST">
	<input type="text" name="first" value="First Name">
	<input type="text" name="last" value="Last Name">
	<input type="text" name="age" value="Age">
	<input type="text" name="likes_beer" value="Like Beer? (true/false)">
	<button type="submit">Submit</button>
</form>